fastapi==0.111.0
uvicorn==0.30.1
pydantic>=2.7.4
pydantic-settings>=2.3.4
streamlit==1.36.0
pandas>=2.2.2
numpy>=2.1.0
scikit-learn>=1.5.0
google-cloud-storage==2.17.0
google-cloud-bigquery==3.24.0
google-generativeai==0.7.1
python-multipart==0.0.9
plotly==5.22.0
requests==2.32.3
python-dotenv==1.0.1
db-dtypes==1.2.0
matplotlib>=3.8.0
pytest>=8.0.0